<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="log.path" source="logging.file.path" defaultValue="./logs"/>
    <springProperty scope="context" name="log.name" source="logging.file.name" defaultValue="sys"/>

    <define name="hostname" class="com.cloud.common.logback.CanonicalHostNamePropertyDefiner"/>

    <!-- 日志输出格式 -->
    <property name="log.pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS}|[%thread]|%X{TRACE}|%X{USER}|%X{COMPANY}|%-5level|%logger{20}[%method,%line]|%msg%n"/>

    <!-- 控制台输出 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <!-- 系统日志输出 -->
    <appender name="file_info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/${hostname}.log</file>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
        <!-- 循环政策：基于时间和文件大小创建日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 日志文件名格式 -->
            <fileNamePattern>${log.path}/${hostname}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- 最大文件大小 -->
            <maxFileSize>50MB</maxFileSize>
            <!-- 日志最大的历史 60天 -->
            <maxHistory>60</maxHistory>
            <!-- appender启动时，进行一次日志文件清理（作用：有些存活很短时间的应用，没机会进行文件清理） -->
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10KB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!-- 用户访问日志输出  -->
    <appender name="sys_user" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/${hostname}-user.log</file>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 日志文件名格式 -->
            <fileNamePattern>${log.path}/${hostname}-user-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- 最大文件大小 -->
            <maxFileSize>50MB</maxFileSize>
            <!-- 日志最大的历史 60天 -->
            <maxHistory>60</maxHistory>
            <!-- appender启动时，进行一次日志文件清理（作用：有些存活很短时间的应用，没机会进行文件清理） -->
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10KB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!-- 系统模块日志级别控制  -->
    <logger name="com.cloud" level="info"/>
    <!-- Spring日志级别控制  -->
    <logger name="org.springframework" level="warn"/>

    <!--系统用户操作日志-->
    <logger name="sys-user" level="info" additivity="false">
        <appender-ref ref="sys_user"/>
    </logger>

    <!--系统操作日志-->
    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="file_info"/>
    </root>

</configuration> 